*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-footer p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px
}
.main-footer p span {text-transform: none;}
footer.main-footer {
    height: 80px;
    background: #0660ad;
    text-align: center;
    line-height: 80px;
}

.search a {
    text-decoration: none;
    display: block;
    width: 50%;
    background-color: #0660ad;
    height: 30px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
    line-height: 24px;
}
.search a:hover {
    opacity: 1.5
}
input#search {
    padding: 10px;
    border: 1px solid blue;
}

h3.name-items {
    font-family: tahoma;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 15px;
}

a.img-item-content {
    display: block;
    padding-bottom: 30px;
}

.item-content {
    border: 1px solid #0660ad;
    text-align: center;
    padding: 20px;
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
}

img.img-banner {
    width: 100%;
}

.logo {
    padding-left: 20px;
}

a.link-menu-item {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display:block

}

li.item-menu {
    display: block;
}
a.link-menu-item:hover{
    border-bottom: 1px solid white
}


ul.list-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

nav.main-menu {
    background-color: #0660ad;
    height: 40px;
}

header.header-main {
    /* padding: 0 20px; */
}

body {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 1px lightgrey;
}