* {
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  /* padding-top: 50px; */
}

.content {
  margin: 20px 0;
}

.box.box2 {
  float: left;
}

.box {
  width: 440px;
  height: 350px;
  margin: 10px 20px;
  float: left;
  padding: 20px;
}

.box.box1 {
  /* float: left; */
}

.box-content {
  width: 100%;
  /* height: auto; */
  margin-left: 115px;
  font-family: tahoma;
  font-weight: 500;
}

.chuNho {
  text-align: center;
  padding: 10px 0;
}

body {
  margin: auto;
  width: 1200px;
  padding: 1px 10px;
}

.button {
  background-color: orange;
  padding: 5px 10px;
}

h1 {
  display: block;
  text-align: center;
  margin: 20px;
  font-family: tahoma;
  background-color: beige;
}
