*{
    margin:0;
    padding: 0;
    border: 0;
}

a.icon1:hover {
    color: lightblue;
}

a.icon1 {
    text-decoration: none;
    font-size: 10px;
    font-family: tahoma;
    color: gray;
}

a.chuaicon {
    width: 35px;
    height: 50px;
    display: inline-block;
    background-image: url(8.png);
    /* background-color: green; */
    background-position: 47px -34px;
}

._1icon {
    width: 50px;
    height: 70px;
    display:inline-block;
}

.icon {
    width: 700px;
    height:90px;
    text-align:center;
    margin:auto;
}

a.xt:hover {
    color: lightseagreen;
}

a.xt {
    float: right;
    display: block;
    text-decoration: none;
    margin-top: -15px;
    font-size: 11px;
    font-family: tahoma;
    color: #0000008f;
    font-style: italic;
}
.tren {
    width:700px;
    height: 40px;
    border-top: 1px soild gray;
    border-top: 1px solid gray;
    padding-top: 13px;
    margin: auto;
    margin-top: 100px;
}
.title-aocuoi {
    display: block;
    text-align: center;
    font: 700 16px/20px tahoma;
    color: #ff1493a8;
    text-decoration: none;
    text-transform: uppercase;
}
