*{
    padding: 0;
    margin: 0;
    border:0;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 327px;
}

a {text-decoration: none;width: 307px;display: block;background-color: #0000006b;font-size: 18px;color: white;padding: 10px;position: absolute;left: 0;bottom: 0;}

.xinhxinh {
    width: 327px;
    border: 1px solid gray;
    height: 170px;
    margin: 10px;
    position: relative;
}

