/NetBeansProjects/Lab1/nbproject/private/
/NetBeansProjects/Lab1/build/
/NetBeansProjects/Bai2/build/
/NetBeansProjects/Bai2/nbproject/private/
/NetBeansProjects/Bai1/build/
/NetBeansProjects/Bai1/nbproject/private/