footer 
    .row
        .col
            .logo
            .slogan Sự lựa chọn hàng đầu của bạn
        .col
            h3 liên kết nhanh
        .col 
            h3 chăm sóc khách hàng
        .col 
            h3 địa chỉ cửa hàng