footer
    .top-footer
        .col-1
            .logo-footer
                img(src="img/logo/logo.png", alt="").logo-footer-top
            .sologan
                h4 Sự lựa chọn hàng đầu cho sức khoẻ của bạn
        .col-2
            .title-footer
                h3.title-footer-top Liên kết nhanh
            a(href="#").information-footer Trang chủ
            a(href="#").information-footer Sản phẩm
            a(href="#").information-footer  Về chúng tôi
            a(href="#").information-footer Tin tức
            a(href="#").information-footer Liên hệ
            a(href="#").information-footer Về trang web
        .col-3
            .title-footer
                h3.title-footer-top Chăm sóc khách hàng
            a(href="#").information-footer hướng dẫn mua hàng
            a(href="#").information-footer Điều khoản dịch vụ của chúng tôi
            a(href="#").information-footer Chính sách giao hàng, đổi trả
        .col-4
            .title-footer
                h3.title-footer-top Địa chỉ cửa hàng
            a(href="#").information-footer-title-big HOA QUẢ SẠCH
            br
            a(href="#").information-footer Địa chỉ : LK21 - Khu đô thị Sông Công - Hà Trì - Hà Đông - Hà Nội
            br
            a(href="#").information-footer Điện thoại: 0339172861
            br
            a(href="#").information-footer Email: phamnhat05111997@gmail.com
            .follow-us
                a(href="#").link-follow-footer
                    i.fab.fa-facebook.icon-footer
                a(href="#").link-follow-footer
                    i.fab.fa-twitter.icon-footer
                a(href="#").link-follow-footer
                    i.fab.fa-youtube.icon-footer
                a(href="#").link-follow-footer
                    i.fab.fa-instagram.icon-footer
