.header-content
    .header-left
        .logo
            img(src="img/logo/logo.png", alt="Logo Hoa Quả Sạch")
        nav.main-menu
            ul.list-menu
                li.item-list-menu
                    a(href="#") Trang chủ
                li.item-list-menu
                    a(href="#") Sản phẩm
                li.item-list-menu
                    a(href="#") Về Chúng tôi
                li.item-list-menu
                    a(href="#") Tin Tức
                li.item-list-menu
                    a(href="#") Liên hệ



    .header-right
        .search
            form.search-form-header
                input(type="text" placeholder="Tìm kiếm").input-search
                a(href="#").button-search
                    i.fas.fa-search.header-right__icon
        .avatar
            a(href="#").user-header
                i.fas.fa-user.header-right__icon
        .cart
            a(href="#").cart-header
                i.fas.fa-cart-arrow-down.header-right__icon
