.container-fluid
    .header-left
        .logo 
            img(src="img/logo/logo_top2-1.png", alt="Hoa qua sach")
        nav.main-menu
            ul
                li
                    a Trang chủ
                li
                    a Sản Phẩm
                li
                    a Về Chúng tôi
                li
                    a Tin Tức 
                li
                    a Liên hệ
                    

    .header-right
        .search
            input(type="text" placeholder="Tìm kiếm")
            a(href="#")
                div icon
        .avatar
            a(href="#")
                div icon
        .cart
            a(href="#")
                div icon