.container-fluid
    .header-left
        .logo 
            img(src="img/logo/logo_top2-1.png", alt="Logo Hoa Quả Sạch")
        nav.main-menu
            ul.list-menu
                li.item-list-menu
                    a(href="#") Trang chủ
                li.item-list-menu
                    a(href="#") Sản phẩm
                li.item-list-menu
                    a(href="#") Về Chúng tôi
                li.item-list-menu
                    a(href="#") Tin Tức 
                li.item-list-menu
                    a(href="#") Liên hệ
     
                

    .header-right
        .search
            input(type="text" placeholder="Tìm kiếm")
            a(href="#") 
                
        .avatar
            a(href="#")
                div icon
        .cart
            a(href="#")
                div icon