*{
  padding: 0;
  margin: 0;
}

i.nho.fas.fa-cart-plus:hover {
    color: white;
}

.nho:hover {
    background: orange;
    color: white;

}

.nho.fas.fa-cart-plus {
    background: orange;
    transition: 0.4s;
}

.nho {
    font-size: 18px;
    color: black;
    background: white;
    display: block;
    padding: 3px;
    margin-right: 5px;
    transition: 0.4s;
}

.icon {
    position: absolute;
    height: 20px;
    width: 65px;
    z-index: 3;
    justify-content: space-between;
    display: flex;
   transition: 0.4s;
   opacity: 0;
}

.layer2 {
    z-index: 2;
    background: #00800078;
    position: absolute;
    top: 0;
    left: 0;
    height: 325px;
    width: 100%;
    opacity: 0;
}
.tren:hover .layer2 {
    opacity: 1;
}
.tren:hover .icon{
    opacity: 1;
}

img.layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.tren {
    width: 100%;
    position: relative;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motsanpham {
    width: 270px;
    height: 385px;
    margin: auto;
}
