* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.famous-brand {
  display: flex;
  justify-content: space-evenly;
  background-color: #f10e34;
  align-items: center;
  height: 185px;
}

footer.footer-main {
  max-width: 100%;
  margin-top: 100px;
}

p.name-item-bottom-fifth-main {
  font-size: 15px;
  padding-bottom: 10px;
}

.item-bottom-fifth-main img {
  display: block;
  cursor: pointer;
  float: left;
  margin-right: 20px;
}

.bottom-fifth-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 60px 20px;
}

.top-fifth-main {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

img.img-banner-right {
  width: 100%;
}

.fifth-main {
  box-shadow: 0 1px 1px 1px lightgrey;
  padding: 30px 20px;
}

.content-fourth-main a {
  display: block;
  width: 130px;
  height: 45px;
  box-shadow: 0 1px 1px 1px #f22f49;
  background-color: #f22f49;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.9;
  border-radius: 10px;
}
.content-fourth-main a:hover {
  opacity: 1.5;
}
p.last-name {
  text-transform: uppercase;
  font-size: 24px;
  color: #0f8ce9;
}

p.name {
  font-size: 24px;
  text-transform: uppercase;
  color: #616161;
}

.content-fourth-main {
  position: absolute;
  right: 2%;
  top: 25%;
}

.fourth-main {
  margin-top: 25px;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 1px 1px lightgrey;
  position: relative;
  margin-bottom: 25px;
}

.third-main {
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px 1px lightgray;
  padding: 25px 20px;
}

a.left-second-main {
  display: block;
  box-shadow: 0 1px 1px 1px lightgray;
}

.second-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.price-item-bottom-first-main {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
}

.name-item-bottom-first-main {
  padding-left: 20px;
}

.item-bottom-first-main img {
  margin-bottom: 20px;
  line-height: 0;
}

.item-bottom-first-main {
  text-align: center;
}

.bottom-first-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

a.menu-sub-right-top-first-main {
  text-decoration: none;
  color: #616161;
  display: block;
  text-align: justify;
}

.menu-fast-right-top-first-main {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.right-top-first-main {
  display: flex;
  justify-content: flex-end;
}

.left-top-first-main span {
  font-size: 24px;
  text-transform: uppercase;
  color: #616161;
}

.top-first-main {
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid lightgrey;
}

.first-main.box {
  padding: 34px 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 1px lightgrey;
  margin-bottom: 35px;
}

a.buy-now {
  position: absolute;
  z-index: 1;
  display: block;
  top: 55%;
  left: 20%;
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  border: 2px solid black;
  text-transform: uppercase;
  color: black;
}
a.buy-now:hover {
  border: 2px solid #ffffff;
}
.big-banner-right {
  position: relative;
  margin-bottom: 28px;
}

button.button-subscribe {
  width: 50%;
  height: 40px;
  border: 0;
  background-color: #f22f49;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.9;
  font-size: 16px;
}
button.button-subscribe:hover {
  opacity: 1.5;
}

input#email-subscribe {
  width: 100%;
  margin: 20px 0;
  border: 0;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
}

.bottom-newsletter form label {
  color: #3d3d3d;
}

.title-newsletter span {
  font-size: 24px;
  text-transform: uppercase;
}

.top-newsletter {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.newsletter {
  margin: 35px 0;
  width: 100%;
  padding: 30px 20px;
  border: 1px solid white;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 1px lightgray;
}

.bottom-box-menu-left div a img {
  width: 100%;
}

del {
  color: #616161;
}

p.name-hot-deals {
  color: #616161;
  text-align: center;
  padding: 10px 0;
}

p.price {
  text-align: center;
}

a.next-box-menu {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: #cacaca;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
}
a.next-box-menu:hover {
  background-color: #f10e34;
}

a.back-box-menu {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: #cacaca;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
}
a.back-box-menu:hover {
  background-color: #f10e34;
}

.title-box-menu-left {
  text-transform: uppercase;
  font-size: 24px;
}

.upper-part-box-menu-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 28px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
}

.box-menu-left {
  width: 100%;
  height: 425px;
  margin-top: 35px;
  border: 1px solid #ffffff;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 1px lightgrey;
}

a.sub-menu-horizontal-item {
  text-decoration: none;
  color: #333333;
  display: block;
  width: 100%;
  height: 52px;
  text-transform: capitalize;
  line-height: 51px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}
a.sub-menu-horizontal-item:hover {
  color: #f10e34;
}
a.sub-menu-horizontal-item:last-child {
  border: 0;
}
.sub-menu-horizontal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 20px;
  border: 1px solid white;
  background: #ffffff;
  box-shadow: 0 1px 1px 1px lightgrey;
}

li.menu-body-dropdown {
  display: block;
}

ul.lists-menu {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin-left: 100px;
}

main.main-content {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  background-color: #ffffff;
}

a.item-menu-dropdown {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  display: block;
  height: 100%;
  width: 100%;
}

nav.menu-body {
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f10e34;
}

.cart div {
  text-align: justify;
  line-height: 20px;
}

.cart p {
  color: #ffffff;
  font-size: 16px;
}

.cart {
  display: flex;
}

.cart a {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  color: #ffffff;
  border-radius: 50%;
  background: #f10e34;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.search-header {
  display: flex;
}

a.button-search-header {
  display: block;
  width: 90px;
  height: 40px;
  text-decoration: none;
  background: #f10e34;
  text-align: center;
  line-height: 40px;
  border-radius: 0 7px 7px 0;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.9;
}
a.button-search-header:hover {
  opacity: 1.5;
}

input#search-header {
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 7px 0 0 7px;
  border: 0;
}
.search-header-body {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.small-menu-header a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  border-right: 2px solid #ffffff;
  text-align: center;
  padding: 0 20px;
}
.small-menu-header a:last-child {
  padding-right: 0;
}
.small-menu-header a:hover {
  color: #f10e34;
}

.small-menu-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}
.small-menu-header a:last-child {
  border: 0;
}

.container-header {
  max-width: 100%;
  background-color: #222222;
  padding: 30px 215px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
