* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bottom-box-menu-left div a img {
  width: 100%;
}

del {
  color: #616161;
}

p.name-hot-deals {
  color: #616161;
  text-align: center;
  padding: 10px 0;
}

p.price {
  text-align: center;
}

a.next-box-menu {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: #f10e34;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
}

a.back-box-menu {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: #f10e34;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
}

.title-box-menu-left {
  text-transform: uppercase;
  font-size: 24px;
}

.upper-part-box-menu-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 28px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
}

.box-menu-left {
  width: 100%;
  height: 425px;
  margin-top: 30px;
  border: 1px solid #ffffff;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 1px lightgrey;
}

a.sub-menu-horizontal-item {
  text-decoration: none;
  color: #333333;
  display: block;
  width: 100%;
  height: 45px;
  text-transform: capitalize;
  line-height: 45px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}
a.sub-menu-horizontal-item:hover {
  color: #f10e34;
}
a.sub-menu-horizontal-item:last-child {
  border: 0;
}
.sub-menu-horizontal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 20px;
  border: 1px solid white;
  background: #ffffff;
  box-shadow: 0 1px 1px 1px lightgrey;
}

li.menu-body-dropdown {
  display: block;
}

ul.lists-menu {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin-left: 100px;
}

main.main-content {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  background-color: #ffffff;
}

a.item-menu-dropdown {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  display: block;
  height: 100%;
  width: 100%;
}

nav.menu-body {
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f10e34;
}

.cart div {
  text-align: justify;
  line-height: 20px;
}

.cart p {
  color: #ffffff;
  font-size: 16px;
}

.cart {
  display: flex;
}

.cart a {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  color: #ffffff;
  border-radius: 50%;
  background: #f10e34;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.search-header {
  display: flex;
}

a.button-search-header {
  display: block;
  width: 90px;
  height: 40px;
  text-decoration: none;
  background: #f10e34;
  text-align: center;
  line-height: 40px;
  border-radius: 0 7px 7px 0;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.9;
}
a.button-search-header:hover {
  opacity: 1.5;
}

input#search-header {
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 7px 0 0 7px;
  border: 0;
}
.search-header-body {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.small-menu-header a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  border-right: 2px solid #ffffff;
  text-align: center;
  padding: 0 20px;
}
.small-menu-header a:hover {
  color: #f10e34;
}

.small-menu-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}
.small-menu-header a:last-child {
  border: 0;
}

.container-header {
  max-width: 100%;
  background-color: #222222;
  padding: 30px 215px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
