.contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: var(--colo-grey);

  margin: 8rem 0;
}

.lien-he-us2 {
  margin-bottom: 6rem;
}

/********** SENT **********/

.contact__sent {
  width: 100%;
}

.contact__sent > * {
  margin-bottom: 2rem;
}
.sent__heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
}

.sent__group-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.sent__group-input input {
  font-family: inherit;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  height: 3.2rem;
  padding: 6px;
  margin-bottom: 0.8rem;
}

.sent__group-input label {
  margin-bottom: 0.8rem;
}

.btn__sent {
  border: none;
  background-color: #78c225d1;
  width: 10.4rem;
  height: 4.4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: var(--color-white);
  border-radius: 0.5rem;
}

button.btn__sent:hover {
  background: #78c225;
}

.error {
  color: red;
}

/* INFOR */
.contact__infor {
  margin-top: 6rem;
}

.infor__group {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2.5rem;
}

.infor__group img {
  margin-right: 2rem;
}

.infor__group__content p:first-child {
  margin-bottom: 1.1rem;
  font-weight: bold;
}
.infor__group__content p:last-child {
  margin-bottom: 0;
}

/* GOOGLE MAPS */
.map {
  margin-bottom: 7rem;
}
.map__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  display: inline-block;

  margin-bottom: 3rem;
}

.map__photo img {
  width: 100%;
}

.success {
  color: green;
  font-weight: bold;
}

.maps {
  margin-top: 3rem;
}
.lienhe-us .title-infor {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.lienhe-us .tencuahang {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 28px;
  color: #78c225;
}

textarea#contacnote {
  padding: 6px;
}
