*{
    margin:0;
    padding: 0;
}

h3 {
    font-family: tahoma;
    font-size: 25px;
    font-weight: bold;
}

.khungnoidung {
    width: 500px;
    padding: 20px;
    text-align: center;
    color: white;
    height: 215px;
    background: #00000036;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.child {
    height: 100%;
    background-image: url(12a.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
