<!DOCTYPE html>
<html>

<head>
	<title>Bai 1 Layout2</title>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			margin: 0;
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;
		}

		.box {
			color: white;
			font-size: 24px;
			text-align: center;
		}

		.box2,
		.box3 {
			height: 200px;
			line-height: 200px;
		}

		.box1 {
			background-color: red;
			line-height: 400px;
		}

		.box2 {
			background-color: green;
		}

		.box3 {
			background-color: blue
		}
	</style>
</head>

<body>
	<div class="grid">
		<div class=" box box1">Height 400px</div>
		<div>
			<div class="box box2">Height 200px</div>
			<div class="box box3">Height 200px</div>
		</div>

	</div>
</body>

</html>