<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bai tap 1 Layout</title>
	<style type="text/css">
		body {
			margin: auto;
			padding: 0;
			max-width: 1200px;
		}

		.warp {
			color: white;
			text-align: center;
			font-size: 24px;

		}

		.box2, .box3 {
			width: 40%;
			height: 200px;
			float: right;
			line-height: 200px;
			white-space: nowrap;
		}

		.box1 {
			background-color: red;
			width: 60%;
			height: 400px;
			float: left;
			line-height: 400px;

		}

		.box2 {
			background-color: green;
		
		}

		.box3 {
			background-color: blue;
		}

	</style>
	</head>
<body>
	<div class="warp">	

	<div class="box1">Height 400px</div>
	<div class="box2">Height 200px</div>
	<div class="box3">Height 200px</div>

	</div>
	
</body>
</html>