extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/blogdetails.css")
block title
    title  Cách chế biến thực phẩm sạch

block content
    .duongdan
            .container
                    a(href="#").duongdan1 Trang chủ &nbsp;&nbsp; / &nbsp;&nbsp; Blog &nbsp;&nbsp;/
                        span &nbsp;&nbsp; Cách chế biến thực phẩm sạch
    .detail-blog
        .container
            .row
                .col-xl-9.col-lg-9.col-md-12.col-sm-12
                    .detail-blog__infor
                        h2.infor__heading-secondery Cách chế biến thực phẩm sạch
                        .times-blog_to
                            .left-time-blog
                                i.far.fa-calendar-alt.icon-blog
                                span.title-blog 20 tháng 2 năm 2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            .right-time-blog
                                i.fas.fa-pen.icon-blog
                                span.title-blog Admin

                        .infor__photo
                            img(src="./image/blog2.png", alt="Cách chế biên thực phẩm sạch" title="")
                        p.infor__text
                            span Thực phẩm luôn đóng vai trò quan trọng trong việc cung cấp dưỡng chất cho cuộc sống của con người. Thực phẩm xanh, sạch được chế biến đúng phương pháp sẽ giúp cơ thể thêm khỏe mạnh hơn. Ngược lại, nếu thực phẩm không được lựa chọn đúng cách, không được chế biến cẩn thận sẽ khiến các chất dinh dưỡng mất đi và có thể gây hại đến sức khỏe.
                        h2.infor__heading-tertiary 1.&nbsp; Lựa chọn thực phẩm an toàn
                         p.infor__text
                            span Nguyên tắc đầu tiên là lựa chọn thực phẩm sạch, an toàn. Bạn cần nắm vững các bí quyết chọn thịt, cá, trứng, rau củ quả sao cho tươi ngon và không bị bơm hoặc tẩm ướp hóa chất
                        h2.infor__heading-tertiary 2.&nbsp; Nấu kỹ thức ăn
                        p.infor__text
                            span Có nhiều loại thực phẩm khi dùng sống sẽ rất ngon chẳng hạn như các món sushi Nhật Bản. Tuy nhiên, không phải thực phẩm nào cũng dùng như thế được. Các loại thịt gia súc, gia cầm, sữa chưa qua tiệt trùng hay chế biến sẽ dễ bị vi khẩn gây bệnh. Do đó, việc nấu kỹ thức ăn cần được chú ý hơn.
                        h2.infor__heading-tertiary 3.&nbsp; Ăn ngay khi thức ăn vừa được nấu chín
                        p.infor__text
                            span Thực phẩm khi được nấu chín và để nguội ở nhiệt độ thường sẽ tạo điều kiện cho vi khuẩn sinh sôi. Để càng lâu, nguy cơ nhiễm khuẩn sẽ càng tăng. Vì thế, tốt nhất là bạn nên dùng ngay sau khi nấu chín.
                        h2.infor__heading-tertiary 4.&nbsp; Bảo quản thực phẩm đã nấu chín
                        p.infor__text
                            span Nếu bạn muốn giữ lại thức ăn thừa hoặc chế biến trước thực phẩm từ 4 – 5 tiếng, bạn cần bảo quản chúng ở nhiệt độ nóng trên 600 độ C hoặc bảo quản lạnh dưới 50 độ C. Thế nhưng, đối với thực phẩm cho trẻ em bạn không nên bảo quản. Một điều cần lưu ý rằng, khi bạn cho quá nhiều thực phẩm vào tủ lạnh sẽ dễ dẫn đến ngộ độc thực phẩm. Vì tủ lạnh sẽ không đủ nhiệt độ để làm lạnh tất cả chúng và khi đó thực phẩm vẫn còn ấm sẽ khiến vi khuẩn phát triển mạnh đủ để gây bệnh.
                        h2.infor__heading-tertiary 5.&nbsp; Không để lẫn thực phẩm sống và chín
                        p.infor__text
                            span Thực phẩm nấu chín nếu tiếp xúc với thực phẩm sống có thể bị ô nhiễm. Chẳng hạn như khi bạn dùng chung dao thớt cắt thịt sống rồi dùng lại để thái thịt đã nấu chín, bạn sẽ làm tái sinh sản sinh vật gây bệnh và dễ bị lây nhiễm chéo.
                        h2.infor__heading-tertiary 6.&nbsp; Sử dụng nguồn nước sạch
                        p.infor__text
                            span Nước sạch là yếu tố quan trọng cần lưu ý khi bạn chế biến thực phẩm. Nếu dùng nguồn nước bẩn sẽ dễ dẫn đến ngộ độc thực phẩm. Đặc biệt, các món ăn cho trẻ em rất cần quan tâm đến vấn đề nguồn nước.
                        p.infor__text
                            span Trên đây, là 6 lưu ý vàng cần ghi nhớ khi chế biến thực phẩm. Hy vọng rằng, các bạn có thể áp dụng để mang đến những bữa ăn thật sự thơm ngon và dinh dưỡng.
                        .nguoi-viet Hoa Qủa Sạch
                            br
                            | Dịch từ www.fruitlove.com















                .col-xl-3.col-lg-3.col-md-12.col-sm-12
                    .details-blog__sidebar
                        form.sidebar__form
                            input(type="text" placeholder="Tìm kiếm bài viết")
                            i.fas.fa-search
                        .sidebar__topic
                            p.sidebar__title Chủ đề
                            a(href="#").sidebar__link Thực phẩm sạch
                            a(href="#").sidebar__link Mẹo hay
                            a(href="#").sidebar__link Ăn ngon mỗi ngày
                            a(href="#").sidebar__link Khuyến mại

                        .sidebar__blog
                             p.sidebar__title Bài viết nổi bật
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1b.png", alt="blog")
                                .sidebar__box
                                    p Trái cây dinh dưỡng
                                    p

                                        span &nbsp; 29/06/2019
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1c.jpg", alt="blog")
                                .sidebar__box
                                    p Những thực phẩm giảm cân
                                    p

                                        span &nbsp; 28/7/2020
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1a).jpg", alt="blog")
                                .sidebar__box
                                    p Chế biến thực phẩm sạch chưa bao giờ dễ đến thế
                                    p

                                        span &nbsp;25/12/2020








block script
    script(src="./js/blogdetails.js")
