extends template-part/layout.pug

block style
    link(rel="stylesheet", href="./css/slick/slick.css")
    link(rel="stylesheet", href="./css/slick/slick-theme.css")
    link(rel="stylesheet", href="./css/cart.css")

block title
    title | Giỏ Hàng

block content
    .duongdan
        .container
            a(href="#").duongdan1 Trang chủ &nbsp;&nbsp; /
                span &nbsp;&nbsp; Giỏ Hàng
    .title-gio-hang
        .container
            .row
                .ten-gio-hang
                    p Giỏ Hàng


    main.cart
        .container
            .row
                .col
                    .cart__list

                    .cart__money
                        .row.justify-content-end
                            .col-xl-4.col-lg-5.col-md-6.col-sm-9.col-12
                                .money__content
                                    p.money__title Thành Tiền
                                    .money__price
                                            p Táo Mỹ x
                                                span (1)
                                            p 230,000 đ
                                    .money__price
                                            p Nho x
                                                span (1)
                                            p 120,000 đ
                                    .money__price
                                            p Bơ Mexico x
                                                span (1)
                                            p 120,000 đ
                                    p.money__car
                                        span Phí vận chuyển
                                        span chưa tính
                                    .money__total
                                        p Tổng cộng:
                                        p 470,000 đ
                                    a(href="./checkout.html").money__pay Tiến Hành Thanh Toán







block script
    script(src="./js/cart.js")
