extends template-part/layout.pug

block style

    link(rel='stylesheet' type='text/css' href='./css/slick/slick.css')
    //- link(rel='stylesheet' type='text/css' href='./css/slick/slick-theme.css')
    link(rel="stylesheet", href="./css/home.css")

block title
            title Hoa Quả Sạch
block content
    main.home
        .content
        .banner.container
            .bamner-carousell
                .bamner-carousell__item
                    img(src="./image/banner/7.1.jpg", alt="Giảm 50% khi đặt trên 2 loại bánh")
                    .banner-carousell__content
                        h1.heading-primary Giảm
                            span &nbsp; 15%
                            br
                            | cho đơn hàng từ 750K
                        a(href="product.html").btn.btn--red.btn--transtion-1 Mua ngay
                .bamner-carousell__item
                    img(src="./image/banner/6.1.jpg", alt="")
                    .banner-carousell__content.banner-carousell__content--modify
                        h1.heading-primary Giao hàng&nbsp;
                            span  Miễn Phí
                            br
                            | trong nội thành
                        a(href="product.html").btn.btn--red.btn--transtion Mua ngay
                .bamner-carousell__item
                    img(src="./image/banner/10-2.jpg", alt="")
                    .banner-carousell__content.banner-carousell__content--modify1
                        h1.heading-primary Nhiều &nbsp;
                            span  Ưu Đãi
                            br
                            | cho khách hàng mới
                        a(href="product.html").btn.btn--red.btn--transtion Mua ngay
            .about-us-dichvu
                .container
                    .row
                        .col-xl-3.col-lg-3.col-md-3.col-sm-6
                            .counter__noidung
                                .counter_icon-dichvu.icon1
                                    i.fas.fa-phone-alt.icon_dichvu
                                .counter_title-dichvu
                                    p.phan-giua 24/7 Hỗ trợ trực tuyến
                                    p.phan-cuoi Tổng đài trực tuyến luôn trả lời những thắc mắc và hướng dẫn sử dụng sản phẩm sạch
                        .col-xl-3.col-lg-3.col-md-3.col-sm-6
                            .counter__noidung
                                .counter_icon-dichvu.icon2
                                    i.fas.fa-truck.icon_dichvu
                                .counter_title-dichvu
                                    p.phan-giua Vận chuyển nhanh chóng
                                    p.phan-cuoi Vận chuyển nhanh chóng miên phí đơn hàng từ 500K


                        .col-xl-3.col-lg-3.col-md-3.col-sm-6
                            .counter__noidung
                                .counter_icon-dichvu.icon3
                                    i.fab.fa-pagelines.icon_dichvu
                                .counter_title-dichvu
                                    p.phan-giua Chất lượng sản phẩm
                                    p.phan-cuoi Đảm bảo rau củ quả luôn tươi xanh và sạch, theo chuẩn quốc tế ban hành
                        .col-xl-3.col-lg-3.col-md-3.col-sm-6
                            .counter__noidung
                                .counter_icon-dichvu.icon4
                                    i.fas.fa-heart.icon_dichvu
                                .counter_title-dichvu
                                    p.phan-giua An toàn vệ sinh
                                    p.phan-cuoi 100% không chất bảo quản, thuốc trừ sâu và phân bón độc hại tránh gây tổn hại đến sức khỏe

        .best-slice
                h2.heading-secondery SẢN PHẨM CỦA CHÚNG TÔI
                .best-slice__list
                    .container
                        .row
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/1.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Táo Mỹ
                                        .best-slice__price 180,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay

                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/22.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading Cherry Mỹ
                                        .best-slice__price 540,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/17.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Vải thiều Trung Quốc
                                        .best-slice__price 270,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/20.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Xoài Myanmar
                                        .best-slice__price 250,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/21.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Vitamin C Heathy
                                        .best-slice__price 460,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/16.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Dương Đào
                                        .best-slice__price 230,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/10.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Bơ Mexico
                                        .best-slice__price 160,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
                            .col-xl-3.col-lg-3.col-md-4.col-sm-6
                                .best-slice__card
                                    .best-slice__photo
                                        a(href="./details.html")
                                            img(src="./image/sanpham/23.jpg", alt="" title="")
                                    .best-slice__content
                                        a(href="./details.html")
                                            h3.best-slice__heading  Thanh Long Vàng
                                        .best-slice__price 230,000 đ
                                        .nut-thanh-toan-ngay
                                            a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                i.fas.fa-luggage-cart
                                            a(href="./checkout.html").best-slice__button
                                                span Mua Ngay
        .button-xem-them-san-pham
            .container
                .row.chua-button
                        a(href="product.html").btn-sanpham-more Xem Thêm

        .khuyen-mai
            h2.heading-secondery CHƯƠNG TRÌNH KHUYẾN MẠI
            .list-khuyen-mai
                .container
                    .row
                        .col-xl-6.col-lg-6.col-md-6.col-sm-12
                            .san-pham-dang-khuyen-mai
                                a(href="#").image-khuyen-mai
                                    img(src="./image/khuyenmai.jpg", alt="khuyenmai")
                                a(href="#").title-san-pham Sầu riêng Musang King Malaysia (400gm)

                                .gia-khuyen-mai
                                    span.price-ban-dau 650,000 đ &nbsp;&nbsp;&nbsp;
                                    span.price-khuyen-mai 480,000 đ
                                a(href="./cart.html").button-quangcao-muangay Mua Ngay
                        .col-xl-6.col-lg-6.col-md-6.col-sm-12
                            .quang-cao-goi-san-pham
                                img(src="image/quangcao/1.jpg", alt="").layer-anh-nen
                                .layer-quang-cao
                                    p.title-quang-cao-goi Giảm &nbsp;
                                        span.rost 15%
                                    P.title-quang-cao-goi cho đơn hàng từ 750K


        .dang-ky-nhan-ban-tin
            .container
                .row.form_check_dang_ky
                    form.form-dang-ky
                        input(type="text" placeholder="Đăng ký nhận bản tin của chúng tôi").col-xl-8.col-lg-8.col-md-8.col-sm-8.col-12.dangky-input
                        button.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12.btn--dangky Đăng Ký


        .cauchuyen-ve-chung-toi
            h2.h2.heading-secondery CÂU CHUYỆN VỀ THƯƠNG HIỆU HOA QUẢ SẠCH
            .content-thuong-hieu
                .container
                    .row
                        .col-xs-8.col-xs-push-2.text-sm-center.content-about_us
                            p Hoa Quả Sạch khởi nguồn từ đam mê thưởng thức tất cả trái cây hảo hạng nhất, độc đáo nhất trong và ngoài nước. Từ khởi đầu khiêm tốn tại một cửa hàng nhỏ với một vài sản phẩm, Hoa Quả Sạch ngày nay đã và đang trên đà phát triển mạnh mẽ với đa dạng chủng loại trái cây nhập khẩu và hoa quả Việt Nam tươi ngon, tiêu chuẩn xuất khẩu.
                                br
                                br
                            | Chúng tôi rất hạnh phúc và tự hào với kinh nghiệm 05 năm mang đến những sản phẩm chất lượng cao cấp và trải nghiệm mua sắm độc đáo cho khách hàng.
        .button-xem-them-san-pham
            .container
                .row.chua-button
                        a(href="vechungtoi.html").btn-sanpham-more Khám Phá Thêm




        .blog
            .container
                .row
                    .col
                        h2.heading-secondery Tin Tức - Cẩm Nang
                        .carousel-blog
                            .blog-card-slide-item
                                .slide-image-blog
                                    a(href="blogdetails.html")
                                        img(src="image/blog1.png", alt="")
                                .slide-content-blog
                                    .icon-slide-content-blog
                                        .left-icon-slide-content-blog
                                            i.far.fa-calendar-alt.icon-blog
                                            span.titles-blog 20 tháng 2, năm 2020
                                        .right-icon-slide-content-blog
                                            i.fas.fa-pen.icon-blog
                                            span.titles-blog Admin
                                    a(href="blogdetails.html").title-slide-blog 5 Loại trái cây giàu Vitamin C nhất
                                    p.content-slide__blog Trái cây giàu vitamin C là sự tuyệt hảo mà thiên nhiên ban tặng cho cơ thể bạn để bổ sung vi chất thiết yếu

                            .blog-card-slide-item
                                .slide-image-blog
                                    a(href="blogdetails.html")
                                        img(src="image/blog1.png", alt="")
                                .slide-content-blog
                                    .icon-slide-content-blog
                                        .left-icon-slide-content-blog
                                            i.far.fa-calendar-alt.icon-blog
                                            span.titles-blog 14 tháng 5, năm 2020
                                        .right-icon-slide-content-blog
                                            i.fas.fa-pen.icon-blog
                                            span.titles-blog Admin
                                    a(href="blogdetails.html").title-slide-blog Cách chế biến thực phẩm sạch
                                    p.content-slide__blog Làm sao để có bữa ăn thật ngon miệng, đảm bảo dinh dưỡng và an toàn cho cả gia đình.

                            .blog-card-slide-item
                                .slide-image-blog
                                    a(href="blogdetails.html")
                                        img(src="image/blog1.png", alt="")
                                .slide-content-blog
                                    .icon-slide-content-blog
                                        .left-icon-slide-content-blog
                                            i.far.fa-calendar-alt.icon-blog
                                            span.titles-blog 04 tháng 7, năm 2020
                                        .right-icon-slide-content-blog
                                            i.fas.fa-pen.icon-blog
                                            span.titles-blog Admin
                                    a(href="blogdetails.html").title-slide-blog 15 siêu thực phẩm giảm cân an toàn và hiệu quả
                                    p.content-slide__blog Chế độ ăn uống có vai trò qua trọng đối với quá trình giảm cân. Có những loại thực phẩm sẽ giúp bạn giảm cân

                            .blog-card-slide-item
                                .slide-image-blog
                                    a(href="blogdetails.html")
                                        img(src="image/blog1.png", alt="")
                                .slide-content-blog
                                    .icon-slide-content-blog
                                        .left-icon-slide-content-blog
                                            i.far.fa-calendar-alt.icon-blog
                                            span.titles-blog 20 tháng 2, năm 2020
                                        .right-icon-slide-content-blog
                                            i.fas.fa-pen.icon-blog
                                            span.titles-blog Admin
                                    a(href="blogdetails.html").title-slide-blog 5 Loại trái cây giàu Vitamin C nhất
                                    p.content-slide__blog Trái cây giàu vitamin C là sự tuyệt hảo mà thiên nhiên ban tặng cho cơ thể bạn để bổ sung vi chất thiết yếu

                            .blog-card-slide-item
                                .slide-image-blog
                                    a(href="blogdetails.html")
                                        img(src="image/blog1.png", alt="")
                                .slide-content-blog
                                    .icon-slide-content-blog
                                        .left-icon-slide-content-blog
                                            i.far.fa-calendar-alt.icon-blog
                                            span.titles-blog 12 tháng 2, năm 2020
                                        .right-icon-slide-content-blog
                                            i.fas.fa-pen.icon-blog
                                            span.titles-blog Admin
                                    a(href="blogdetails.html").title-slide-blog Loại trái cây nóng làm mát cơ thể
                                    p.content-slide__blog Nắng nóng khiến cơ thể mất nước và tăng nhiệt, lúc này vitamin trong trái cây sẽ giúp giải nhiệt, điều hòa nhiệt độ cơ thể




















block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js' integrity='sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==' crossorigin='anonymous')
    script(src='./js/home.js')
