extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/product.css")
block title
        title  Sản Phẩm
block content
        .duongdan
            .container
                    a(href="#").duongdan1 Trang chủ &nbsp;&nbsp; /
                        span &nbsp;&nbsp;Sản Phẩm
        main.product
            .container
                .row
                    .col-xl-3.col-lg-3


                        form(action="index.html" method="GET")#product__filter.isClose

                            .button-bo-loc
                                .chua-icon-loc
                                    i.fas.fa-filter.icon_loc
                                    span &nbsp; Bộ Lọc
                                span.product__btn.product__btn--white Bỏ lọc
                            .product__section
                                .product__section-header
                                    h4.product__section__title Trái cây tươi
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="Bơ" id='bo' value='')
                                        label(for="bo") Bơ
                                    .product__checkbox-group
                                        input(type="checkbox", name="chuoi-tao-le" id='chuoi-tao-le' value='')
                                        label(for="chuoi-tao-le") Chuối, Táo&Lê
                                    .product__checkbox-group
                                        input(type="checkbox", name="cam-quyt" id='cam-quyt' value='')
                                        label(for="cam-quyt")    Cam, Quýt
                                    .product__checkbox-group
                                        input(type="checkbox", name="trai-cay-nhiet-doi" id='trai-cay-nhiet-doi' value='bieuTang')
                                        label(for="trai-cay-nhiet-doi")    Dưa, Trái cây nhiệt đới
                                    .product__checkbox-group
                                        input(type="checkbox", name="trai-cay-theo-mua" id='trai-cay-nhiet-doi' value='bieuTang')
                                        label(for="trai-cay-theo-mua")  Trái cây theo mùa
                                    .product__checkbox-group
                                        input(type="checkbox", name="rau-tuoi" id='rau-tuoi' value='bieuTang')
                                        label(for="rau-tuoi")  Rau tươi
                            .product__section
                                .product__section-header
                                    h4.product__section__title Trái cây chế biến
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="nuoc-ep-lanh" id='nuoc-ep-lanh' value='')
                                        label(for="nuoc-ep-lanh") Nước ép lạnh
                                    .product__checkbox-group
                                        input(type="checkbox", name="nuoc-trai-cay" id='nuoc-trai-cay' value='')
                                        label(for="nuoc-trai-cay") Nước trái cây
                                    .product__checkbox-group
                                        input(type="checkbox", name="" id='nuoc-trai-cay-tong-hop' value='')
                                        label(for="nuoc-trai-cay-tong-hop") Nước trái cây tổng hợp
                            .product__section
                                .product__section-header
                                    h4.product__section__title Khoảng giá
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='duoi200' value='')
                                        label(for="duoi200") Dưới 200,000
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='tu200den100' value='')
                                        label(for="tu200den100") Từ 200,000 đến 500,000
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='tren500' value='')
                                        label(for="tren500")    Trên 500,000


                            .product__border
                            .product__action
                                button.product__btn Áp dụng

                            #product__close
                                p Đóng
                    .col-xl-9.col-lg-9.col-md-12
                        .loc-product
                            .loc-mobile
                                #product__filter-icon
                                    i.fas.fa-filter
                                span &nbsp;Lọc
                            .product__sort
                                p.product__sort-title Sắp xếp:
                                select(name="product-sort")#product__select
                                    option(value='az' select="selected") A đến Z
                                    option(value='za') Z đến A
                                    option(value='lowHigh') Giá từ thấp đến cao
                                    option(value='highLow') Giá từ cao đến thấp
                                    option(value="default" ) Sản phẩm mới nhất
                                i.fas.fa-chevron-right.product__sort-icon
                        .product__list
                            .row
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/40.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Ớt tươi
                                            .best-slice__price 100,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/41.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Nước ép măng cụt
                                            .best-slice__price 70,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/26.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bưởi da xanh
                                            .best-slice__price 120,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/42.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Chuối
                                            .best-slice__price 140,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/14.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Táo Mỹ
                                            .best-slice__price 120,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/24.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Thanh Long đỏ
                                            .best-slice__price 250,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/21.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Heathy Vitamin C
                                            .best-slice__price 300,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/43.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Cà chua tươi
                                            .best-slice__price 178,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay

                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/44.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Nước ép hoa quả
                                            .best-slice__price 76,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./image/sanpham/1.jpg", alt="" title="")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Táo đỏ
                                            .best-slice__price 90,000 đ
                                            .nut-thanh-toan-ngay
                                                a(href="./cart.html" title="Thêm vào giỏ hàng").add-cart
                                                    i.fas.fa-luggage-cart
                                                a(href="./checkout.html").best-slice__button
                                                    span Mua Ngay

                            .row
                                .col
                                    .product__pages
                                        a(href="#").active 1

                                        a(href="#") 2

                                        a(href="#") 3
                                        a(href="#") 4
                                        a(href="#")
                                            i.fas.fa-forward






block script
    script(src="./js/product.js")
