extends template-part/layout.pug

block style


    link(rel="stylesheet", href="./css/success.css")

block title
            title | Success

block content
    .success
        .container
            .row
                .col
                    .success__photo

                    h1.success__heading Bạn thanh toán thành công!
                    .success__home
                        a(href="./index.html") Back Home
