extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/vechungtoi.css")
block title
    title  Về chúng tôi

block content
    .duongdan
            .container
                    a(href="#").duongdan1 Trang chủ &nbsp;&nbsp; / &nbsp;&nbsp; Blog &nbsp;&nbsp;/
                        span &nbsp;&nbsp; Giới thiệu về Hoa Quả Sạch
    .detail-blog
        .container
            .row
                .col-xl-9.col-lg-9.col-md-12.col-sm-12
                    .detail-blog__infor
                        h2.infor__heading-secondery Giới thiệu về Hoa Quả Sạch
                        .times-blog_to
                            .left-time-blog
                                i.far.fa-calendar-alt.icon-blog
                                span.title-blog 20 tháng 2 năm 2020 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            .right-time-blog
                                i.fas.fa-pen.icon-blog
                                span.title-blog Admin
                        p.infor__text
                            span
                              span.text1 Hoa Quả Sạch
                                span khởi nguồn từ đam mê thưởng thức tất cả trái cây hảo hạng nhất, độc đáo nhất trong và ngoài nước.
                                br

                              | Từ khởi đầu khiêm tốn tại một cửa hàng nhỏ với một vài sản phẩm, Hoa Quả Sạch ngày nay đã và đang trên đà phát triển mạnh mẽ với đa dạng chủng loại trái cây nhập khẩu và hoa quả Việt Nam tươi ngon, tiêu chuẩn xuất khẩu.
                        p.infor__text
                            span Hoa Quả Sạch được đặt tại khu đô thị Sông Công, Hà Trì, Hà Đông, Hà Nội với diện tích gần 500 mét vuông, có rất nhiều trái cây tươi ngon được chúng tôi nhập khẩu và cam kết chất lượng. Quý khách có thể đến đây mua chọn mua những trái cây tốt nhất cho sức khỏe với sự hướng dẫn tận tình của nhân viên chúng tôi.
                        p.infor__text
                            span Một vài hình ảnh về Hoa Qủa Sạch:
                        .infor__photo
                            img(src="./image/us.jpg", alt="Cách chế biên thực phẩm sạch" title="")
                        h2.infor__heading-tertiary &nbsp; Không gian cho rau sạch
                          .infor__photo
                            img(src="./image/us1.jpg", alt="Cách chế biên thực phẩm sạch" title="")
                        h2.infor__heading-tertiary &nbsp; không gian cho trái cây tươi

                        p.infor__text
                            span "Chúng tôi đã sống và hít thở trái cây từ năm 2015. Tất cả các loại trái cây đều được lựa chọn tỉ mỉ và cẩn thận, bạn chỉ nhận được những thứ tốt nhất!”
                        .text-to-us
                          p.text-to Liên Hệ Đặt Hàng Và Hợp Tác
                          p.slogan-text Chung Tay xây dựng cuộc sống tươi khỏe cùng Hoa Qủa Sạch
                        .btn-lien-he-us
                          a(href="contact.html").lien-he-us Liên Hệ Ngay


















                .col-xl-3.col-lg-3.col-md-12.col-sm-12
                    .details-blog__sidebar
                        form.sidebar__form
                            input(type="text" placeholder="Tìm kiếm bài viết")
                            i.fas.fa-search
                        .sidebar__topic
                            p.sidebar__title Chủ đề
                            a(href="#").sidebar__link Thực phẩm sạch
                            a(href="#").sidebar__link Mẹo hay
                            a(href="#").sidebar__link Ăn ngon mỗi ngày
                            a(href="#").sidebar__link Khuyến mại

                        .sidebar__blog
                             p.sidebar__title Bài viết nổi bật
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1b.png", alt="blog")
                                .sidebar__box
                                    p Trái cây dinh dưỡng
                                    p

                                        span &nbsp; 29/06/2019
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1c.jpg", alt="blog")
                                .sidebar__box
                                    p Những thực phẩm giảm cân
                                    p

                                        span &nbsp; 28/7/2020
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./image/blog1a).jpg", alt="blog")
                                .sidebar__box
                                    p Chế biến thực phẩm sạch chưa bao giờ dễ đến thế
                                    p

                                        span &nbsp;25/12/2020








block script
    script(src="./js/blogdetails.js")
