p {
    font-size:13px;
    font-family:tahoma;
    color:#000000bf;
    overflow:hidden;
    
 
 
 }
 .title_tin {
     text-decoration:none;
     font:700 13px/20px tahoma;
     padding-top:10px;
     display:block
 
 }
 .tin a img {float: left;padding: 15px 10px 10px 5px;border: 0;margin: 0;}
 
 acticle.tin {/* border-bottom: 1px dashed deepskyblue; *//* width: 100%; */}
 
 .phai {
     display: block;
     /* width: 435px; */
     /* height: 335px; */
 }
 
 .tinto .trai .tintrai a:hover {
     color: chartreuse;
 }
 
 .tinto .trai .tintrai a {
     text-decoration: none;
     display: block;
     background-color: #00000033;
     color: white;
     font-family: tahoma;
     font-size: 15px;
     font-weight: 700;
     padding: 10px 3%;
     position: relative;
     top: 227px;
 }
 
 .tintrai {
     background-image: url(5.1.jpg);
     width: 216px;
     height: 324px;
 }
 .trai {
     float:left;
     padding-right:10px;
 }
 
 .tinto {
     width: 100%;
     background-color: lightpink;
     margin-top: 10px;
 }
 
 article.link a {
     text-decoration: none;
     font-size: 12px;
     font-weight: 700;
     font-family: tahoma;
     padding-right: 10px;
     display: inline-block;
     position: relative;
     bottom: 6px;
     left: 147px;
 }
 
 .tren a img {
     display: inline-block;
     position: relative;
     top: 18px;
 }
 
 .tren {
     border-bottom: 1px dashed deeppink;
 }
 .filetintuc {
     width: 665px;
 }
 
 
 


