* {
  padding: 0;
  margin: 0;
}

p.text-to {
  font-family: tahoma;
  font-size: 15px;
  display: block;
  text-align: justify;
}

.to a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: bold;
}

p.time {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  display: block;
  float: left;
  margin-right: 20px;
}

.to {
  margin-top: 10px;
  width: 100%;
  height: 315px;
  background-color: #ffffff;
}


.duoi {
  /* padding-top: 10px; */
}

p.content {
  font-size: 12px;
  display: block;
  text-align: justify;
  margin-top: 10px;
  font-family: tahoma;
}

.thongtin1 a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

.thongtin1 img {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin-right: 20px;
}

.thongtin1 {
  width: 310px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

h1 {
  font: 700 24px/30px tahoma;
  display: block;
  margin-bottom: 30px;
}

body {
  width: 1000px;
  margin: 10px auto;
}

.tren {
  margin-bottom: 53px;
  width: 100%;
  height: 70px;
}
