footer.footer
    .footer__main
        .container
            .row
                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    .footer-quangcao
                        .footer__main-logo
                            img(src="./image/logo/logo.png", alt="Hoa Qủa Sạch").
                        .slogan
                            span Sự lựa chọn hàng đầu
                                br
                                | cho sức khỏe của bạn

                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    h4.footer__main-header Liên kiết nhanh
                    ul.footer__main-list
                        li.footer__main-item
                            a(href="vechungtoi.html").footer__main-link Về chúng tôi
                            a(href="product.html").footer__main-link Sản phẩm
                            a(href="blog.html").footer__main-link Tin tức
                            a(href="contact.html").footer__main-link Liên hệ
                            a(href="index.html").footer__main-link Trang chủ
                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    h4.footer__main-header Địa chỉ cửa hàng
                    .ten-cua-hang-footer
                        span HOA QUẢ SẠCH
                    .diachi-cua-hang
                        p Địa chỉ: LK21 Khu đô thị Sông Công
                            br
                            | Hà Trì - Hà Đông - Hà Nội
                        p Điện thoại: 0339172861
                        p Email: phamnhat05111997@gmail.com
                    .icon-lien-ket-xahoi
                        .bro-icon
                            img(src="image/fb-icon.png", alt="").icon-lien-ket-xa-hoi
                        .bro-icon
                            img(src="image/t.png", alt="").icon-lien-ket-xa-hoi
                        .bro-icon
                            img(src="image/y.png", alt="").icon-lien-ket-xa-hoi
                        .bro-icon
                            img(src="image/i.png", alt="").icon-lien-ket-xa-hoi

    .footer__bot
        p  Hoa Quả Sạch @&nbsp;2020 by NhatPham
